<!DOCTYPE html>
<html>

<head>
    
    <style>
        body{
            color: white;
        }
        h1{
            text-align: center;
        }
    </style>
</head>

<body>

    <ul>
        <li><h1>Developers</h1><hr></li>
        <li>Rulx Sainlus<hr></li>
        <li>David Shepherd<hr></li>
        <li>James Kerester<hr></li>
        <li>Mihir Shrestha <hr></li>
        <li><h1>Game Design Credits</h1></li>
        <li><a href="https://www.youtube.com/watch?v=cIe3d2vwn7s"> youtube video that helped with the game</a></li>
    </ul>

</body>

</html>