<!DOCTYPE html>
<html>
    <head>
            <link rel='stylesheet' href='/stylesheets/indexStyle.css' />
    </head>
    <body>
        <ul>
            <li><a href="/users/game">PLAY</a></li>
            <li><a href="/users/howtoplay">How To Play</a></li>
            <li><a href="/users/logout">LOG OUT</a></li>
            <li><a href="/credits">CREDITS</a></li>
        </ul>
    </body>
</html>