<!DOCTYPE html>
<html>

<head>
    
    <style>
        body{
            color: white;
        }
        h1{
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>How To Play Block Jump</h1>

    <ul>
        <li>Create an account to play <hr></li>
        <li>Use the space bar or click the screen to jump <hr></li>
        <li>If you hit an obstacle you lose <hr></li>
        <li>Refresh the page to play again <hr></li>
    </ul>

</body>

</html>